# 1 Importing libraries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

# 2 Data Types

In [16]:
# calculating variables
50 + 50

100

In [3]:
500 - 400

100

In [4]:
x = 50

In [5]:
print(x)

50

In [6]:
y = 50

In [7]:
print(y)

50

In [8]:
x + y

100

In [9]:
# float 
z = 5.72

In [10]:
w = 8.78

In [11]:
type(z)

float

In [12]:
z/w

0.6514806378132119

In [13]:
# strings 
a= 'Hello, '

In [14]:
b= 'World'

In [15]:
a + b

'Hello, World'

In [20]:
# constructing sentences
c = 'I ' 
d = 'am '
e = 'completing '
f = 'this '
g = 'task'
c + d + e + f + g

'I am completing this task'

In [22]:
h = 'I am a '
i = 'data analyst '
h + i

'I am a data analyst '

In [23]:
# Bonus 
i * 100

'data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst data analyst '